[Unit]
Description=ModernJVSService

[Service]
User=root
Type=simple
Restart=always
RestartSec=10
StartLimitIntervalSec=0
RuntimeDirectory=modernjvs
ExecStart=/usr/bin/modernjvs %I

[Install]
WantedBy=multi-user.target
